<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/base}">

<head>
  <style>
    /* Sidebar styles */
    .sidebar {
      width: 220px;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      padding-top: 20px;
      border-right: 1px solid var(--bs-gray-400);
    }

    .sidebar a {
      text-decoration: none;
      display: block;
      padding: 10px 20px;
    }

    /* Main content area */
    .content {
      margin-left: 220px;
      padding: 12px;
      min-height: 100vh;
    }
  </style>

  <script>
    $(document).ready(function () {
      // Navbar active
      $('.nav-link').each(function () {
        if ($(this).attr('href') == window.location.pathname) {
          $(this).addClass('active text-white');
        } else {
          $(this).removeClass('active text-white');
        }
      });

      // Switch side bar
      let isClose = false;
      $("#btn-swicth-sidebar").click(function () {
        if (!isClose) {
          // Hide sidebar
          $(".ftms-title").removeClass('fs-4');
          $(".ftms-title").addClass('fs-6');

          $(this).removeClass('bi-arrow-left');
          $(this).addClass('bi-arrow-right');
          $('.nav-link > *:first-child').removeClass('me-2');
          $('.nav-link > *:last-child').hide(400);
          $('#full-name').hide(400);

          $('.sidebar').css({
            "transition": "width 0.6s ease",
            "width": "70px"
          });
          $('.content').css({
            "transition": "margin-left 0.6s ease",
            "margin-left": "70px"
          });
        } else {
          // Show sidebar
          $(".ftms-title").removeClass('fs-6');
          $(".ftms-title").addClass('fs-4');

          $(this).removeClass('bi-arrow-right');
          $(this).addClass('bi-arrow-left');
          $('.nav-link > *:first-child').addClass('me-2');
          $('.nav-link > *:last-child').show(400);
          $('#full-name').show(400);
          $('.sidebar').css({
            "transition": "width 0.6s ease",
            "width": "230px"
          });
          $('.content').css({
            "transition": "margin-left 0.6s ease",
            "margin-left": "230px"
          });
        }

        isClose = !isClose;
      });
    });
  </script>
</head>

<body>
  <section layout:fragment="content">

    <!-- <div class=" sidebar d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
      <a href="/" class="d-block p-3 link-dark text-decoration-none" title="Icon-only" data-bs-toggle="tooltip"
        data-bs-placement="right">
        <svg class="bi" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
        <span class="visually-hidden">Icon-only</span>
      </a>
      <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
          <a href="#" class="nav-link active py-3 border-bottom" aria-current="page" title="Home"
            data-bs-toggle="tooltip" data-bs-placement="right">
            <svg class="bi" width="24" height="24" role="img" aria-label="Home">
              <use xlink:href="#home" />
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link py-3 border-bottom" title="Dashboard" data-bs-toggle="tooltip"
            data-bs-placement="right">
            <svg class="bi" width="24" height="24" role="img" aria-label="Dashboard">
              <use xlink:href="#speedometer2" />
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link py-3 border-bottom" title="Orders" data-bs-toggle="tooltip"
            data-bs-placement="right">
            <svg class="bi" width="24" height="24" role="img" aria-label="Orders">
              <use xlink:href="#table" />
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link py-3 border-bottom" title="Products" data-bs-toggle="tooltip"
            data-bs-placement="right">
            <svg class="bi" width="24" height="24" role="img" aria-label="Products">
              <use xlink:href="#grid" />
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link py-3 border-bottom" title="Customers" data-bs-toggle="tooltip"
            data-bs-placement="right">
            <svg class="bi" width="24" height="24" role="img" aria-label="Customers">
              <use xlink:href="#people-circle" />
            </svg>
          </a>
        </li>
      </ul>
      <div class="dropdown border-top">
        <a href="#"
          class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div> -->

    <!-- Navbar -->
    <nav class="sidebar d-flex flex-column flex-shrink-0 p-2">
      <a class="p-0 link-dark text-decoration-none">
        <div class="text-end">
          <i id="btn-swicth-sidebar" class="btn py-0 px-1 bi bi-arrow-left"></i>
        </div>
        <div class="text-center">
          <span class="ftms-title fs-4 fw-bolder">FTMS</span>
        </div>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/" class="nav-link link-dark" aria-current="page">
            <i class="bi bi-house me-2"></i>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="/transaction" class="nav-link link-dark">
            <i class="bi bi-arrow-down-up me-2"></i>
            <span>Transaction</span>
          </a>
        </li>
        <li>
          <a href="/expense" class="nav-link link-dark">
            <i class="bi bi-box-arrow-up-right me-2"></i>
            <span>Expense</span>
          </a>
        </li>
        <li>
          <a href="/income" class="nav-link link-dark">
            <i class="bi bi-box-arrow-down-left me-2"></i>
            <span>Income</span>
          </a>
        </li>
        <li>
          <a href="/business" class="nav-link link-dark">
            <i class="bi bi-buildings me-2"></i>
            <span>Business</span>
          </a>
        </li>
        <li>
          <a href="/balance" class="nav-link link-dark">
            <i class="bi bi-wallet2 me-2"></i>
            <span>Balance</span>
          </a>
        </li>
      </ul>
      <hr>

      <div class="dropdown">
        <a href="#" class="ps-0 d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://cdn.pixabay.com/photo/2020/11/26/09/46/girl-5778431_1280.jpg" alt="" width="32" height="32"
            class="rounded-circle me-2">
          <strong id="full-name">Sonita Sao</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </nav>

    <!-- Child pages will inject content here -->
    <div class="content">
      <section layout:fragment="page">

      </section>
    </div>

  </section>

</body>

</html>