<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/base}">

<head>
  <style>
    /* Sidebar styles */
    .sidebar {
      width: 220px;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      padding-top: 20px;
      border-right: 1px solid var(--bs-gray-400);
    }

    .sidebar a {
      text-decoration: none;
      display: block;
      padding: 10px 20px;
    }

    /* Main content area */
    .content {
      margin-left: 220px;
      padding: 12px;
      min-height: 100vh;
    }
  </style>

  <script>
    $(document).ready(function () {
      $('.nav-link').each(function () {
        if ($(this).attr('href') == window.location.pathname) {
          $(this).addClass('active text-white');
        } else {
          $(this).removeClass('active text-white');
        }
      });
    });
  </script>
</head>

<body>
  <section layout:fragment="content">

    <!-- Navbar -->
    <nav class="sidebar d-flex flex-column flex-shrink-0 p-2">
      <a href="/" class="p-0 link-dark text-decoration-none">
        <div class="text-end">
          <i class="bi bi-arrow-left"></i>
        </div>
        <div class="text-center">
          <span class="fs-4 fw-bolder">FTMS</span>
        </div>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/" class="nav-link link-dark" aria-current="page">
            <i class="bi bi-house me-2"></i>
            Home
          </a>
        </li>
        <li>
          <a href="/transaction" class="nav-link link-dark">
            <i class="bi bi-arrow-down-up me-2"></i>
            Transaction
          </a>
        </li>
        <li>
          <a href="/expense" class="nav-link link-dark">
            <i class="bi bi-box-arrow-up-right me-2"></i>
            Expense
          </a>
        </li>
        <li>
          <a href="/income" class="nav-link link-dark">
            <i class="bi bi-box-arrow-down-left me-2"></i>
            Income
          </a>
        </li>
        <li>
          <a href="/bussiness" class="nav-link link-dark">
            <i class="bi bi-buildings me-2"></i>
            Bussiness
          </a>
        </li>
        <li>
          <a href="/balance" class="nav-link link-dark">
            <i class="bi bi-wallet2 me-2"></i>
            Balance
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://cdn.pixabay.com/photo/2020/11/26/09/46/girl-5778431_1280.jpg" alt="" width="32" height="32"
            class="rounded-circle me-2">
          <strong>Sonita Sao</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </nav>

    <!-- Child pages will inject content here -->
    <div class="content">
      <section layout:fragment="page">

      </section>
    </div>

  </section>

</body>

</html>
