<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">

<head>
  <title>Transaction</title>

  <script>
    // TODO
  </script>
  <style>
    /* TODO */
  </style>
</head>

<body>
  <section layout:fragment="page">
    <div class="mb-3 d-flex justify-content-between align-items-center">
      <h5 class="fw-bolder">Transaction management</h5>
      <div>
        <a href="/income/add" class="btn btn-primary text-white">Create new income</a>
        <a href="/expense/add" class="btn btn-primary text-white">Create new expense</a>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Business Name</th>
          <th scope="col">Balance Name</th>
          <th scope="col">Amount</th>
          <th scope="col">Type</th>
          <th scope="col">Note</th>
          <th scope="col">Date Creation</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="transaction : ${transactions.content}">
          <th th:text="${transaction.id}"></th>
          <th th:text="${transaction.business.name}"></th>
          <th th:text="${transaction.balance.name}"></th>
          <th th:text="${transaction.amountFormatted}"></th>
          <th th:text="${transaction.transactionType}"></th>
          <th th:text="${transaction.notes}"></th>
          <th th:text="${transaction.createdAt}"></th>
        </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <!-- <nav class="d-flex justify-content-end">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
        <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
        <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav> -->
    <!-- Pagination Controls -->
    <div>
      <a th:href="@{/transaction(page=0, size=${transactions.size})}">First</a>
      <a th:if="${transactions.hasPrevious}"
        th:href="@{/transaction(page=${transactions.number - 1}, size=${transactions.size})}">Previous</a>
      <span>Page <span th:text="${transactions.number + 1}"></span> of <span
          th:text="${transactions.totalPages}"></span></span>
      <a th:if="${transactions.hasNext}"
        th:href="@{/transaction(page=${transactions.number + 1}, size=${transactions.size})}">Next</a>
      <a th:href="@{/transaction(page=${transactions.totalPages - 1}, size=${transactions.size})}">Last</a>
    </div>
  </section>
</body>

</html>