// Import Bootstrap from node_modules
@import "../../../../../node_modules/bootstrap/scss/functions";

// Override Bootstrap colors
$primary: #3E9696;
$secondary: #F65E4D; // Example: Change secondary color
$success: #57C57D;
$info: #63CADD;
$warning: #F7C846;
$danger: #DF5665;

$body-bg: #F5F5F5;
$card-bg: white;

// Import Bootstrap after setting variables
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/bootstrap";
