<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">

<head>
  <title>Bussiness</title>

  <script>
    // TODO
  </script>
  <style>
    .title-information {
      background-color: var(--bs-primary-border-subtle);
      color: var(--bs-primary-text-emphasis);
      border: none;
    }
  </style>
</head>

<body>
  <section layout:fragment="page">
    <form action="/business" method="POST">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 th:text="${title}" class="fw-bolder"></h5>
        <div>
          <button type="submit" class="btn btn-primary text-white">Save</button>
          <a href="/business" class="btn btn-outline-danger">Close</a>
        </div>
      </div>

      <div class="card border-0">
        <h6 class="card-header title-information">Information</h6>
        <div class="card-body">
          <div class="mb-3">
            <label for="name" class="form-label">Name *</label>
            <input th:value="${business != null ? business.name : ''}" name="name" type="text" class="form-control"
              id="name" required>

            <!-- Hidden ID field for updating -->
            <input th:value="${business != null ? business.id : ''}" name="id" type="hidden">
          </div>
        </div>
      </div>
    </form>
  </section>
</body>

</html>