<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">

<head>
  <title>Expense</title>

  <script>
    // TODO
  </script>
  <style>
    /* TODO */
  </style>
</head>

<body>
  <section layout:fragment="page">
    <!-- TODO -->
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <i class="bi bi-exclamation-triangle-fill fs-5 me-2"></i>
      <div>
        This page is under contruction, we are working on it.
      </div>
    </div>
  </section>
</body>

</html>
