<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}"
>
  <head>
    <style>
      .card-balance {
        background-color: var(--bs-primary-border-subtle);
      }

      .card-expense {
        background-color: var(--bs-danger-border-subtle);
      }

      .card-portfolio {
        background-color: var(--bs-success-border-subtle);
      }

      .card-income {
        background-color: var(--bs-info-border-subtle);
      }

      .title-transaction {
        background-color: var(--bs-warning-border-subtle);
        color: var(--bs-warning-text-emphasis);
        border: none;
      }

      .trasaction-rows {
        background-color: var(--bs-gray-200);
      }

      .title-spend {
        background-color: var(--bs-danger-border-subtle);
        color: var(--bs-danger-text-emphasis);
        border: none;
      }

      .title-income {
        background-color: var(--bs-info-border-subtle);
        color: var(--bs-info-text-emphasis);
        border: none;
      }

      .flatpickr-calendar {
        margin-top: 44px;
      }
    </style>
  </head>

  <body>
    <section layout:fragment="page">
      <p class="fs-3 m-0">Welcome back</p>
      <p>Welcome to Financial Tracking Management System</p>

      <div class="row row-cols-lg-2 g-3">
        <!-- Section 1 -->
        <div class="col">
          <div class="row row-cols-lg-1 g-3">
            <!-- Balancea -->
            <div class="col">
              <div class="row row-cols-2 g-2">
                <div class="col">
                  <div class="card border-0 card-balance">
                    <div class="card-body">
                      <h5 class="card-title">Balance</h5>
                      <h5 th:text="${totalBalance}" class="card-title"></h5>
                      <!-- <p class="card-text">For all accounts</p> -->
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card border-0 card-expense">
                    <div class="card-body">
                      <h5 class="card-title">Expense</h5>
                      <h5 th:text="${totalExpense}" class="card-title"></h5>
                      <!-- <p class="card-text">For this month</p> -->
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card border-0 card-portfolio">
                    <div class="card-body">
                      <h5 class="card-title">Portfolio</h5>
                      <h5 th:text="${totalPortfilio}" class="card-title"></h5>
                      <!-- <p class="card-text">For this month</p> -->
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card border-0 card-income">
                    <div class="card-body">
                      <h5 class="card-title">Income</h5>
                      <h5 th:text="${totalIncome}" class="card-title"></h5>
                      <!-- <p class="card-text">For this month</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Transactions -->
            <div class="col">
              <div class="col">
                <div class="card border-0">
                  <div
                    class="card-header title-transaction d-flex justify-content-between"
                  >
                    <strong>Recent transactions</strong>

                    <a
                      href="/transaction"
                      class="btn p-0 m-0"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title="See more"
                    >
                      <i class="bi bi-eye-fill"></i>
                    </a>
                  </div>

                  <div class="card-body">
                    <div class="row row-cols-1 g-2">
                      <div
                        th:if="${!transactions.hasContent}"
                        class="text-center"
                      >
                        No transactions available
                      </div>

                      <div
                        th:each="transaction : ${transactions.content}"
                        class="col rounded-2 px-2 py-1 d-flex justify-content-between align-items-center trasaction-rows"
                      >
                        <div>
                          <p
                            th:text="${transaction.business.name}"
                            class="m-0 fw-bolder"
                          ></p>
                          <p th:text="${transaction.notes}" class="m-0"></p>
                        </div>
                        <div
                          th:text="${transaction.amountFormatted}"
                          class="fw-bolder"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Section 2 -->
        <div class="col">
          <div class="row row-cols-lg-1 g-3">
            <div class="col">
              <div class="bg-primary card border-0 h-100 text-white">
                <div
                  class="card-header border-0 bg-primary d-flex justify-content-between"
                >
                  <p class="text-white fw-bolder">Incoming</p>

                  <!-- Filter by week -->
                  <div
                    class="income-datepicker-container"
                    style="position: relative; display: inline-block"
                  >
                    <input
                      type="text"
                      class="form-control"
                      id="income-datepicker"
                      style="display: none"
                    />

                    <div
                      id="income-field-datepicker-trigger"
                      class="input-group"
                      style="width: 300px"
                    >
                      <input
                        type="text"
                        class="form-control"
                        id="income-datepicker-trigger"
                        placeholder="Select a date"
                        readonly
                      />
                      <span class="input-group-text" style="cursor: pointer">
                        <i class="bi bi-calendar4"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="card-body">
                  <canvas id="incomingChart"></canvas>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="row row-cols-1">
                <!-- Spending -->
                <div class="col">
                  <div class="card border-0">
                    <div class="card-header title-spend">
                      <strong>Expensing for business</strong>
                    </div>
                    <div class="card-body">
                      <div th:if="${expenses.size == 0}" class="text-center">
                        No expenses available
                      </div>
                      <div class="row row-cols-1 g-2">
                        <div th:each="expense : ${expenses}" class="col-lg-6">
                          <div class="card">
                            <div class="card-body">
                              <div class="d-flex align-items-center">
                                <i class="bi bi-bank"></i>
                                <div
                                  th:text="${expense.business}"
                                  class="text-truncate ms-2"
                                ></div>
                              </div>
                              <div class="d-flex align-items-center">
                                <i class="bi bi-currency-exchange"></i>
                                <div
                                  th:text="${'-' + expense.totalAmountFormatted}"
                                  class="ms-2"
                                ></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Incoming -->
                <div class="col">
                  <div class="card border-0 mt-2">
                    <div class="card-header title-income">
                      <strong>Incoming for business</strong>
                    </div>
                    <div class="card-body">
                      <div class="row row-cols-1 g-2">
                        <div th:if="${incomes.size == 0}" class="text-center">
                          No incomes available
                        </div>

                        <div th:each="income : ${incomes}" class="col-lg-6">
                          <div class="card">
                            <div class="card-body">
                              <div class="d-flex align-items-center">
                                <i class="bi bi-bank"></i>
                                <div
                                  th:text="${income.business}"
                                  class="text-truncate ms-2"
                                ></div>
                              </div>
                              <div class="d-flex align-items-center">
                                <i class="bi bi-currency-exchange"></i>
                                <div
                                  th:text="${'+' + income.totalAmountFormatted}"
                                  class="ms-2"
                                ></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script th:inline="javascript">
        /*<![CDATA[*/
        const weeklyIncomes = /*[[${weeklyIncomes}]]*/ [];
        const expenses = /*[[${expenses}]]*/ [];
        /*]]>*/
      </script>

      <script>
        /*
          Variables
        */
        let incomingChartInstance = null;

        /*
          Methods
        */
        function renderIncomingChart(data) {
          const ctx = document.getElementById("incomingChart");

          // Destroy existing chart instance if it exists
          if (incomingChartInstance) {
            incomingChartInstance.destroy();
          }

          // Create new chart instance
          incomingChartInstance = new Chart(ctx, {
            type: "bar",
            data: {
              labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
              datasets: [
                {
                  label: "In week ($)",
                  data,
                  backgroundColor: ["#F7C846"],
                  borderWidth: 1,
                },
              ],
            },
            options: {
              responsive: true,
              scales: {
                x: {
                  ticks: {
                    color: "#FFFFFF", // Change label color here
                    font: {
                      size: 14, // Font size
                    },
                  },
                },
                y: {
                  beginAtZero: true,
                  ticks: {
                    color: "#FFFFFF", // Change label color here
                    font: {
                      size: 14,
                    },
                  },
                },
              },
              plugins: {
                legend: {
                  labels: {
                    font: {
                      size: 14, // Font size
                      family: "'Arial', sans-serif",
                    },
                    color: "#FFFFFF", // Font color
                  },
                },
              },
            },
          });
        }
        function getStartAndEndOfWeek(date) {
          const dayOfWeek = date.getDay(); // Sunday = 0, Monday = 1, ..., Saturday = 6
          const startOfWeek = new Date(date);
          const endOfWeek = new Date(date);

          // Set to the start of the week (Monday)
          startOfWeek.setDate(date.getDate() - dayOfWeek + 1); // Adjust for Monday as the start of the week
          // Set to the end of the week (Sunday)
          endOfWeek.setDate(startOfWeek.getDate() + 6);

          return {
            start: formatDate(startOfWeek),
            end: formatDate(endOfWeek),
          };
        }

        function formatDate(date) {
          const options = {
            day: "2-digit", // Two-digit day (e.g., "19")
            month: "short", // Full month name (e.g., "March")
            year: "numeric", // Four-digit year (e.g., "2025")
          };
          return date.toLocaleDateString("en-US", options);
        }

        /*
          Mounted
        */
        renderIncomingChart(weeklyIncomes);

        /*
          jQuey
        */
        $(document).ready(function () {
          const weekRange = getStartAndEndOfWeek(new Date());
          $("#income-datepicker-trigger").val(`${weekRange.start} - ${weekRange.end}`);

          $("#income-field-datepicker-trigger").click(function () {
            datepicker.open();
          });

          const datepicker = flatpickr("#income-datepicker", {
            dateFormat: "Y-m-d",
            enableTime: false,
            defaultDate: new Date(),
            appendTo: document.querySelector(".income-datepicker-container"),
            onChange: function (_, date) {
              // Formate date
              const weekRange = getStartAndEndOfWeek(new Date(date));
              $("#income-datepicker-trigger").val(
                `${weekRange.start} - ${weekRange.end}`
              );

              // Load data
              $.ajax({
                url: "/api/transaction/weekly",
                type: "GET",
                dataType: "json",
                data: { date },
                success: function (data) {
                  renderIncomingChart(data);
                },
                error: function (e) {
                  console.log(e);
                },
              });
            },
          });
        });
      </script>
    </section>
  </body>
</html>
