<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}"
>
  <head>
    <title>Expense</title>

    <script>
      // TODO
    </script>
    <style>
      /* TODO */
    </style>
  </head>

  <body>
    <section layout:fragment="page">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="fw-bolder">Expense management</h5>
        <a href="/expense/add" class="btn btn-primary text-white">
          <i class="bi bi-plus-circle-dotted"></i>
          Create new expense
        </a>
      </div>

      <!-- Filters -->
      <div class="card border-0 p-3 mb-3">
        <form>
          <div class="row">
            <div class="col-6">
              <select name="businessId" class="form-control form-select">
                <option value="">Select a business</option>
                <option
                  th:each="business : ${businesses}"
                  th:text="${business.name}"
                  th:value="${business.id}"
                  th:selected="${business.id == session.businessIdExpense}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <select name="balanceId" class="form-control form-select">
                <option value="">Select a balance</option>
                <option
                  th:each="balance : ${balances}"
                  th:text="${balance.name}"
                  th:value="${balance.id}"
                  th:selected="${balance.id == session.balanceIdExpense}"
                ></option>
              </select>
            </div>
          </div>
          <div class="d-flex justify-content-end mt-2">
            <a
              href="/expense/clear-filters"
              class="btn btn-outline-danger btn-sm me-1"
            >
              <i class="bi bi-trash2"></i>
              Clear
            </a>
            <button class="btn btn-warning btn-sm">
              <i class="bi bi-funnel"></i>
              Filter
            </button>
          </div>
        </form>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Business Name</th>
            <th scope="col">Balance Name</th>
            <th scope="col">Category</th>
            <th scope="col">Amount</th>
            <th scope="col">Notes</th>
            <th scope="col">Date Creation</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <th th:if="${ !expenses.hasContent }" class="text-center" colspan="7">
            No expenses available
          </th>

          <tr th:each="expense : ${expenses.content}">
            <th th:text="${expense.id}"></th>
            <th th:text="${expense.business.name}"></th>
            <th th:text="${expense.balance.name}"></th>
            <th th:text="${expense.transactionCategory}" class="text-capitalize"></th>
            <th th:text="${expense.amountFormatted}"></th>
            <th th:text="${expense.notes}"></th>
            <th th:text="${expense.createdAtFormatted}"></th>
            <td class="d-flex justify-content-end">
              <a
                th:href="@{/expense/{id}(id=${expense.id})}"
                class="btn py-0 px-1"
              >
                <i class="bi bi-pen text-warning"></i>
              </a>
              <a
                th:href="@{/expense/delete/{id}(id=${expense.id})}"
                class="btn py-0 px-1"
                onclick="return confirm('Are you sure you want to delete this expenses')"
              >
                <i class="bi bi-trash text-danger"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination -->
      <nav class="d-flex justify-content-end">
        <ul class="pagination">
          <li class="page-item">
            <a
              class="page-link"
              th:href="@{/expense(page=0, size=${expenses.size})}"
              >First</a
            >
          </li>

          <li class="page-item">
            <a
              class="page-link"
              th:if="${expenses.hasPrevious}"
              th:href="@{/expense(page=${expenses.number - 1}, size=${expenses.size})}"
              >Previous</a
            >
          </li>

          <li class="page-item disabled">
            <a class="page-link">
              <span
                >Page <span th:text="${expenses.number + 1}"></span> of
                <span th:text="${expenses.totalPages}"></span
              ></span>
            </a>
          </li>

          <li class="page-item">
            <a
              class="page-link"
              th:if="${expenses.hasNext}"
              th:href="@{/expense(page=${expenses.number + 1}, size=${expenses.size})}"
              >Next</a
            >
          </li>

          <li class="page-item">
            <a
              class="page-link"
              th:href="@{/expense(page=${expenses.totalPages - 1}, size=${expenses.size})}"
              >Last</a
            >
          </li>
        </ul>
      </nav>
    </section>
  </body>
</html>
