<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">

<head>
  <title>Balance</title>

  <script>
    // TODO
  </script>
  <style>
    .title-information {
      background-color: var(--bs-primary-border-subtle);
      color: var(--bs-primary-text-emphasis);
      border: none;
    }
  </style>
</head>

<body>
  <section layout:fragment="page">
    <form action="/balance" method="POST" th:object="${Balance}">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 th:text="${title}" class="fw-bolder"></h5>
        <div>
          <button type="submit" class="btn btn-primary text-white">Save</button>
          <a href="/balance" class="btn btn-outline-danger">Close</a>
        </div>
      </div>

      <div class="card border-0">
        <h6 class="card-header title-information">Information</h6>
        <div class="card-body">

          <!-- Hidden ID field for updating -->
          <input th:field="*{id}" type="hidden">

          <div class="mb-3">
            <label for="name" class="form-label">Name *</label>
            <input th:field="*{name}" name="name" type="text" class="form-control" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Amount ($) *</label>
            <input th:field="*{balance}" type="number" class="form-control" min="0" step="0.01" required>
          </div>
        </div>
      </div>
    </form>
  </section>
</body>

</html>