<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/base}"
>
  <head>
    <script>
      // TODO
    </script>
    <style></style>
  </head>

  <body>
    <section layout:fragment="content">
      <div class="row g-0" style="height: 100vh">
        <div class="col-lg-7 d-flex align-items-center bg-primary">
          <div class="px-3 py-4 p-md-5 mx-md-4 text-white">
            <h4 class="mb-4">Financial Tracking Management System</h4>
            <p class="mb-0">
              <strong>FTMS</strong> is a tool designed to help business owners
              and investors monitor their financial activities, including
              income, expenses, and investments. It provides real-time tracking,
              budgeting, and reporting features to enhance financial
              decision-making.
            </p>
          </div>
        </div>

        <div class="col-lg-5 d-flex align-items-center">
          <div class="card-body p-md-5 mx-4">
            <div class="text-center">
              <h4 class="mt-1 mb-5 pb-1">FTMS</h4>
            </div>

            <form
              th:action="${success == null ? '/forgot_password' : '/verify_code'}"
              method="POST"
            >
              <p
                th:text="${success != null ? 'Please enter verification code from your email address' : 'Enter email address to reset new password'}"
                class="text-center"
              ></p>

              <!-- Email field -->
              <div th:if="${success == null}" class="form-outline mb-4">
                <input
                  name="email"
                  type="email"
                  class="form-control"
                  placeholder="Enter email address"
                  required
                />
              </div>

              <!-- Success message -->
              <div
                th:if="${success != null}"
                class="alert alert-success alert-dismissible fade show"
                role="alert"
              >
                <div class="d-flex align-items-center">
                  <i class="bi bi-check-circle fs-5 me-2"></i>
                  <div th:text="${success}"></div>
                </div>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>

              <!-- Code field -->
              <div th:if="${success != null}" class="form-outline mb-4">
                <input
                  name="code"
                  class="form-control"
                  placeholder="Enter verification code"
                  required
                />
              </div>

              <!-- Password field -->
              <div th:if="${success != null}" class="form-outline mb-4">
                <input
                  name="password"
                  type="password"
                  class="form-control"
                  placeholder="Enter password"
                  required
                />
              </div>

              <!-- Password confirm field -->
              <div th:if="${success != null}" class="form-outline mb-4">
                <input
                  name="passwordConfirm"
                  type="password"
                  class="form-control"
                  placeholder="Enter password confirm"
                  required
                />
              </div>

              <!-- Error message -->
              <div
                th:if="${message != null}"
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
              >
                <div class="d-flex align-items-center">
                  <i class="bi bi-exclamation-triangle-fill fs-5 me-2"></i>
                  <div th:text="${message}"></div>
                </div>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>

              <div class="text-center pt-1 mb-5 pb-1">
                <button
                  th:if="${success == null}"
                  data-mdb-button-init
                  data-mdb-ripple-init
                  class="btn btn-primary mb-3 w-100 text-white"
                  type="submit"
                >
                  Send
                </button>

                <button
                  th:if="${success != null}"
                  data-mdb-button-init
                  data-mdb-ripple-init
                  class="btn btn-primary mb-3 w-100 text-white"
                  type="submit"
                >
                  Update password
                </button>

                <a class="text-muted" href="/login">Back to login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
